@use 'variables' as *;

#CompanySection {
    height: 800px;

    & img{
       /*  width: 50vw;
        aspect-ratio: 1;
        object-fit: cover;
        margin-right: -10rem!important; */
        position: absolute;
        right: 0;
        width: 50vw;
        aspect-ratio: 1;
        height: 100%;
    }


}