@use 'variables' as *;

#NewsSection {

    color: $txt-light;
    background-color: $bg-very-light;

    & .section_subtitle {
        color: $cta-button;
    }

    & .section_title {
        color: $txt-dark;
    }
    & .section_paragraph{
        color: $txt-dark;
    }    
    & .icon {
        color: $cta-button;
    }
    & .card-img{
        filter: brightness(50%);
    }
    & .text_card_img{
        font-weight: 700;
        line-height: 1.6rem;
        font-size: 1.5rem;
        text-align: center;
        padding-top: 16rem;
    }
}