@use 'variables' as *;

#PageHeader {
    background-color: $bg-header;
    color: $txt-light;
    font-size: .8rem;

    & svg {
        aspect-ratio: 1;
    }

    & li {
        padding: 0 1rem;
    }



}