@use 'variables' as *;

#PageHeader {
    background-color: $bg-header;
    font-size: .8rem;
    
    & svg {
        aspect-ratio: 1;
    }
    
    & a , .left_container{
        color: $txt-light!important;
        padding: 0 .5rem;
    }



}