@use 'variables' as *;

#PageHeader {
    background-color: $bg-header;
    color: $txt-light;

    & i {
        display: block;
        aspect-ratio: 1;
        width: 5rem;
        fill: $txt-light;
    }

    & li {
        padding: 0 1rem;
    }



}