@use 'variables' as *;

#ServicesSection {
    color: $txt-light;
    background-color: $bg-services;

    & h6{
        color: $cta-button;
    }
    & h2{
        font-weight: 900;
        font-size: 3rem;
    }
    & .card{
        background-color: $bg-card-services;
    }
    & .icon{
        color: $cta-button;
    }

}