@use 'variables' as *;

.full_btn {
    background-color: $cta-button;
}

.empty_btn {
    background-color: transparent;
    color: $cta-button!important;
}

.my_btn {
    color: $txt-light;
    font-weight: 700;
    font-size: .9rem;
    vertical-align: middle;
    text-transform: uppercase;
    padding: .4rem 1.2rem;
    border-width: 1px;
    border-style: solid;
    border-color: $cta-button;
    border-radius: .4rem;
}

.my_btn:hover {
    background-color: $bg-hover-btn;
    color: $txt-dark;
}

.section_subtitle{
    color: $cta-button;
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: .25rem 0;
}
.section_title{
    font-weight: 800;
    font-size: 2.5rem;
    padding: .25rem 0;
}
.section_paragraph{
    padding: .25rem 0;
    width: 75%;
}

.marked{
    color: $cta-button;
    background-color: rgba(0, 128, 0, 0.16);
    border-radius: .5rem;
    padding: .25rem .5rem;
}
