@use 'variables' as *;

.full_btn {
    background-color: $cta-button;
}

.empty_btn {
    background-color: transparent;
}

.my_btn {
    margin: 0 .5rem;
    color: $txt-light;
    font-weight: 700;
    font-size: .9rem;
    vertical-align: middle;
    text-transform: uppercase;
    padding: .4rem 1.2rem;
    border-width: 1px;
    border-style: solid;
    border-color: $cta-button;
    border-radius: .4rem;
}

.my_btn:hover {
    background-color: $bg-hover-btn;
    color: $txt-dark;
}