$bg-header: #24333d;
$bg-very-light: #ffffff;
$bg-light: #e3e7df;
$bg-services: #121117;
$bg-card-services: #1e2223;
$bg-hover-btn: #fecc60e7;
$txt-light: #ffffffe9;
$txt-dark: rgba(0, 0, 0, 0.756);

$primary: #0d7e7e;

$cta-button: #0d7e7e;
$cta-button-strong: #39c4c6;
